*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #3d3b48;
  --purple: #5e54a4;
  --green: #38cc8b;
  --reddish-orange: #ff7979;
}

body {
  font-family: "Poppins", sans-serif;
}
